/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.tracking-results {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

pre {
  white-space: pre-wrap;
}
